@use 'globals' as *;

header {
    display: flex;
    justify-content: space-around;

    h1 {
        a {
            font-family: sans-serif;
            color: $cBlack;
            text-decoration: none;
            
        }
    }

    .mobile-menu-icon {
        background-color: transparent;
        border: none;
        outline: none !important;
        cursor: pointer;
        
        span {
            background-color: $cBlack;
            width: 35px;
            height: 2px;
            display: block;
            margin-bottom: 9px;
            transition: transform .7s;

            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &.menu-open {
                span {
                    &:nth-child(1) {
                        transform: translateY(11px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        transform: translateY(-11px);
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: translateY(-11px) rotate(-45deg);
                    }
                }
        }
    }

}

nav {
    ol{
        margin-top: 2rem;
        li {
            list-style: none;
            margin-bottom: 2rem;
            position: relative;
            
            a {
                color: $cBlack;
                text-decoration: none;
                font-size: 1.5rem;
                font-family: sans-serif;
                font-weight: 600;

                &::before {
                    position: absolute;
                    top: 50%;
                    right: 17px;
                }
            }
        }
    }
}