@use 'globals' as *;

main {
    position: absolute;
    top: 55px;
        @include mq(lg) {
                top: 60px;
            }

    .swiper {
        width: 100vw;
        height: auto;

            @include mq(lg) {
                height: 650px;
            }

        .swiper-slide {

                    img {
                        width: 100vw;
                        height: auto;
                        display: block;
                        margin: 0 auto;
                    }

        }
    }
}